<%
=begin%>
 <div id="<%= dom_id users %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>
</div> 

  <tr>
    <th>#</th>
    <th>利用者名</th>
    <th></th>
  </tr> 
<%
=end%>
