<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
  <%= link_to "Delete this user", @user, method: :delete, data: { confirm: "Are you sure you want to delete this user?" } %>
</div>
