<div id="<%= dom_id lesson %>">
  <p>
    <strong>Lesson name:</strong>
    <%= lesson.lesson_name %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= lesson.time %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= lesson.teacher %>
  </p>

</div>
