<% content_for :title do %>
  <h1>Lessons</h1>
<% end %>

<% content_for :nav do %>
  <% if current_user.admin %>
    <%= button_to "Admin(User)", users_path, method: :get, class: "btn bg-teal" %>
  <% end %>
<% end %>

<div id="lessons">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
    <%= button_to "詳細", lesson, method: :get %>
  <% end %>
</div>

<%= button_to "新規作成", new_lesson_path, method: :get, class: "btn bg-teal" %>