<% content_for :title do %>
  <h1>Teachers</h1>
<% end %>

<% content_for :nav do %>
<% end %>

<%= render "teacher" %>

<% if current_admin? %>
  <%= link_to "New teacher", new_teacher_path %>
<% end %>
