@import "bootstrap-sprockets";
@import "bootstrap";

body,
h1 {
  margin: 0;
}

.btn {
  color: #ffffff;
}

header {
  align-items: center;
  background: #5cb85c;
  color: #ffffff;
  display: flex;
  height: 10vh;
  justify-content: space-between;
}

.alert {
  padding: 6px 12px;
  margin: 0;
}

nav {
  display: flex;

  .btn {
    border: none;
  }
}

.flex {
  display: flex;
}

.comment {
  width: 60%;
}

td{
  vertical-align: middle !important;
}